nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
  }
  #nav-container {
    display: flex;
    list-style-type: none;
 }
  li :hover {
   color: white;
   background-color: rgb(28, 108, 173);
 }
 li {
   background-color:  white;
   flex: 3;
   border: 2px solid rgb(28, 108, 173);
   font-size: large;
   display: flex;
   margin: 2px;
 }
 .social {
   flex: 1;
 }
 a {
   text-decoration: none;
   color: rgb(28, 108, 173);
   flex: auto;
   text-align: center;
 }
 * {
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;
  }
@media screen and (max-width: 450px) {
    #nav-container {   
      flex-direction: row;
      flex-wrap: wrap;
    }}
@media screen and (max-width: 450px) {
      a, .social {   
        font-size: 12px;
      }}