body{
    width:100%;
    max-width: 100%;
    overflow-x: hidden;

}
nav{
    width:100%;
}

#nav-left{
    margin-left: 5px;
    padding: 2px;
    display: block;
    float: left;

   
}
#nav-right{
    margin-right: 10px;
    float: right;
    padding: 2px;
    display: block;

}
li{
    
    display: inline;
    
}

a{
    text-decoration: none;
    font-family: monospace;
    font-size: .9em;
    color:black;
}
a:hover{
    text-decoration: underline;
}
#logo-img{
    width:272px;
    max-width: 100%;
    height:auto;
    display: block;
    margin:auto;

}
#logo-div{
    position: absolute;
    width: 100%;
    height:auto;
    margin-top: 150px;
}


#form-div{
    position: absolute;
    width: 100%;
    height:auto;
    margin-top:300px;
    text-align: center;
}

#submit{
    display: block;
    background-color: rgba(192, 184, 184, 0.25);
    color: gray;
    padding: 5px 10px;
    margin: 10px auto;
    font-size: large;
    border-radius:10px ;
  
}
#search-text{
    border: 2px solid rgb(209, 199, 199);
    border-radius: 10px;
    width: 50%;
    padding: 2px;
    margin: auto;
    font-size: large;
}
footer{
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    height: 50px;
    width: 100%;
    margin-bottom: 0px;
    background-color: rgba(192, 184, 184, 0.25);
}