#nav-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex: 1;
    align-content: center;
    margin-top: 0px;
    padding: 5px;
    background-color: black;
    position: sticky;
 }
 .navbar {
   background-color: black;
   margin-bottom: 15px;
 }
 @media screen and (max-width: 450px) {
  #nav-container {   
    flex-direction: row;
    flex-wrap: wrap;
  }}
  @media screen and (max-width: 450px) {
    a, .social {   
      font-size: 12px;
    }}
  @media screen and (max-width: 450px) {
    #welcome {   
      font-size: medium;
    }}
 ul {
   list-style-type: none;
 }
 
  li :hover {
   color: black;
 }
 
 li {
   background-color:  white;
   flex: 3;
   border: 2px solid rgb(28, 108, 173);
   border-radius: 10px;
   font-size: x-large;
   display: flex;
   align-items: center;
 }
 .social {
   flex: 1;
 }
 a {
   text-decoration: none;
   color: rgb(34, 109, 158);
   flex: 1;
   text-align: center;
 }
 * {
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;
  }
  body {
    height:100vh;
    background-color: black;
  }
  #big-img {
    position: relative;
    text-align: center;
  }
  #cat {
    width: 100%;
    height: auto;
  }
  #welcome {
    position: absolute;
    top: 20%;
    left: 20%;
    color: white;
  }
  #project-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .project {
    background-color: white;
    font-size: large;
    flex: 25%;
    border: 2px solid blue;
    height: 40vh;
  }
  .navbar.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    /* scrolling colors */
    background-color: white;
    color: white;
  }