select, textarea {
    color: black;
    font-size: large;
    border-radius: 5px;
    
}
form{
    background-color: rgba(36, 160, 209, 0.55);
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    margin: auto;
}
body{
    background-color: rgba(12, 80, 136, 0.979);
}
p{
    color: white;
    font-size: large;
    text-align: center;
}
h1, #description{
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 30px;
    width: 70%;
}
#name,#email,#number,#dropdown,#comments{
    color:black;
    font-size: large;
    border-radius: 5px;
    border: gray solid 2px;
    width: 80%;
    margin-top: 5px;
    align-self: center;
}
label{
    color: white;
    font-size: large;
    text-align: center;
}
#submit{
    background-color: rgba(25, 216, 25, .65);
    width: 50%;
    align-self: center;
    margin: 10px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}
#nav-container {
  display: flex;
  list-style-type: none;
}
li :hover {
 color: white;
 background-color: rgb(28, 108, 173);
}
li {
 background-color:  white;
 flex: 3;
 border: 2px solid rgb(28, 108, 173);
 font-size: large;
 display: flex;
 margin: 2px;
}
.social {
 flex: 1;
}
a {
 text-decoration: none;
 color: rgb(28, 108, 173);
 flex: auto;
 text-align: center;
}
* {
  margin: 0px;
  padding: 0px; 
  outline: none;
  border: 0px;
}